// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #0a8244;
  --ion-text-color: #0d65d0;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-toolbar-text-color: var(--ion-text-color);
}

:root[theme="dark"] {
  --ion-background-color: #0d786f;
  --ion-text-color: #ffffff;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-toolbar-text-color: var(--ion-text-color);
}
